.content{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

.kepek{
   float: left;
}

img{
    border: 5px solid black;
    border-radius: 5%;
    width: 200px;
    margin:20px;
    transition: 1s;
}

img:hover{
    transform: scale(1.3);
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    text-align: center;
    transition: 1s;
}

img:hover + p {
    font-size: xx-large;
}
